

.header{
  width: 100%;
  height: 90px;
  background-color: #fff;
  position: relative;
}
.logo{
  color: #ce0505;
  text-decoration: none;
  font-size: 33px;
  font-weight: 600;
  display: inline-block;
}
.logo-span{
  background-color: white;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin: 20px;
  padding: 1px 10px 4px;
  position: absolute;
  display: inline-block;
}
.login-span{
  padding: 10px 0 10px 0;
}

.account{
  
  padding:4px 10px 4px 13px;;
  border:black solid 1px ;
  border-radius: 5px;
  position: absolute;
  color: black;
  text-decoration: none;

  font-weight: 500;
  position: absolute;
    margin-top: -48px;
    margin-left: 863px;
}
.login{
  margin-top: 29px;
  position: absolute;

  display: inline-block;
  color: black;
  font-weight: 500;
  text-decoration:none;
}
.login:hover,.account:hover{
  color: #ffffff;
}
.logo:hover{
  color: #ce0505;
}

.product-add-button{
font-size: 18px;
font-weight: 600;
background: blueviolet;
color: white;
width: 100%;
display: block;
}
.product-add-button:active{
  transform: translateY(2px);
}
.google{
  margin: 20px 0;
  width: 396px;
  height: 50px;
  align-items: center;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 6px !important;
  opacity: 1;
  font-family: Poppins !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.google-signup{
  margin: 20px 0;
  width: 230px;
  height: 50px;
  align-items: center;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 6px !important;
  opacity: 1;
  font-family: Poppins !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.facebook{
  margin: 20px 0;
  width: 396px;
  height: 50px;
  background-color: white;
  border-radius: 6px !important;
  opacity: 1;
  font-family: Poppins !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  padding: 0px;
}
.facebook-signup{
  margin: 20px 0;
  width: 230px;
  height: 50px;
  background-color: white;
  border-radius: 6px !important;
  opacity: 1;
  font-family: Poppins !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}
.manulLogin{
  width: 396px;
  height: 50px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255) !important;

}

.login-divider{
  margin: 10px 10px 0 0;
  width: 100%;
  height: 0;
  border: solid 0.6px #c7c7c7;
}
.create{
     width: 450px;
  margin: 9px 15px 28px 13px;
  height: 50px;
  padding: 14px 30px 13px 22px;
}
.input-login{
  width: 376px;
  height: 50px;
  margin: 20px 15px 15px 5px;
  padding: 14px 30px 13px 22px;
  border-radius: 2px;
  border: solid 1px #cacfd8;
}
.login-btn{
  width: 376px;
  height: 50px;
  margin: 9px 15px 28px 5px;
  padding: 14px 30px 13px 22px;
  border-radius: 6px;
  border: solid 1px #cacfd8;
}
#GFG_Button{
  margin-left: 12px;
}
.OR{
  position: absolute;
  margin: -13px 0px 0px 42%;
  color: gray;
  background-color: white;
}

.h1{
  width: 726.4px;
  height: 0;
  margin: 10px 32px 0;
  border: solid 1px #dedfe5;
  
}
.fname{
  width: 69%;
  margin-bottom: 3%;
}
.lname{
  width: 69%;
  margin-bottom: 3%;
}
.input-acc{
  width: 69%;
  margin-bottom: 3%;
}
.metro{
  border:white;
  color: navy;
}
.btn{
  margin-left: 110px;
  width: 220px;
}





#filter {
  
    width: 70%; 
    height: 720px; 
    
    box-shadow: 0 11px 23px 0 rgb(0 0 0 / 16%);
    margin-left: 19px;
  }
  
  #filter-head {
    font-size: 20px;
    font-weight: 600;
  }
  .CATEGORIES{
    display: inline-block;
    margin: 30px 100px 10px 10px;
  }
  

.checkboxes {
  width: 18px;
  height: 18px;
  border-radius: 1.5px;
  border: 1.5px #3a5075 solid;
  margin-bottom: 10px;
}

.radios {
  width: 18px;
  height: 18px;
  margin-bottom: 10px;
}
.price {
  display: inline-block; 
  margin: 0px 60px 10px 0px;
}
.price-2{
  margin-top: -24px;
    margin-left: 23px;
}
.all-content{
  margin-left: 10px;
}

.secondside{
  margin-left: 440px;
  margin-top: -743px;

}
.speciality{
  color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}
.product-name{
  font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-productMetaInfo{
  position: relative;
    z-index: 3;
    background: #fff;
    padding: 0 10px;
    height: 100%;
    margin-top: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.Rectangle-two{
  width: 12rem;
  
  position: relative;
  display: inline-block;
  margin: 20px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

  margin-block: 30px;
}
.images{
  width: 193px;
  height: 229px;

}
.pagination {
  position: absolute;
  top: 780px;
  left: 35%;
  margin-top: 20px;
  padding-bottom: 30px;
}

.pagination a {
  font-size: 20px;
  font-weight: 600;
  width: 36px;
  height: 36px;
  opacity: 0.4;
  margin: 0 9px 0 9px;
  padding: 5px 15px 3px;
  border: solid 2px #8c96ab;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 7px;
}

.pagination a.active {
  font-size: 20px;
  font-weight: 500;
  width: 36px;
  height: 36px;
  margin: 0 9px 0 9px;
  padding: 5px 15px 3px;
  border-radius: 7px;
  border: solid 1px #8c96ab;
  background-color: #8c96ab;
  color: white;
}
li {
  list-style: none;
  background-color: lightgray;
  background-image: linear-gradient(90deg, red 20px, lightgray 10px);
  padding: 10px 15px 10px 25px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 18%;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 52%;
  margin-top: 1%;
  border-radius: 3px;
}

.dropdown{
  
  width:320px;
  height:40px;
  color:black;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: lightgray;
  color: black;
  padding-left: 29px;
  margin-left: 25%;
  margin-top: 22px;
 
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: lightgray;
  color: black;
  padding-left: 29px;
}
.search {

  position: absolute !important;
  left: 100px;
  margin: 2% 0px;
  bottom: 30px;
  top:30px;

}
#notebooks {
  position: absolute;
  left: 38%;
  width: 350px;
  border-radius: 5px;
  max-height: 450px;
}

ul {

 
  max-height: 390px;
  overflow-y: auto;
 
}

#notebooks span {
  display: block;
  position: absolute;
  background: #FFD32E;
  bottom: -35px;
  left: -1px;
  width: 360px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
.logo-span{
    background-color: white;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 20px;
    padding: 1px 10px 4px;
    position: absolute;
    display: inline-block;
}
.login-span{
    padding: 10px 0 10px 0;
}


